.constructor {
  width: 100%;
  max-width: 600px;
}

.wrapConstructorElement > div {
  width: 89%;
}

.dots {
  position: absolute;
  left: 0;
  top: 30px;
  cursor: pointer;
}

.wrapConstructorElement {
  position: relative;
}

.wrapConstructorItems {
  height: calc(100vh - 630px);
  overflow-y: scroll;
}

.constructor ::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.constructor ::-webkit-scrollbar-thumb {
  height: 200px;
  background-color: #8585ad;
}

.wrapTotalPrice {
  text-align: right;
}

.totalPrice > svg {
  height: 33px;
  width: 33px;
  transform: translateY(5px);
}
