.ingredients {
  width: 100%;
  max-width: 600px;
}

.ingredientsWrapItems {
  height: calc(100vh - 324px);
  overflow-y: scroll;
}

.ingredients ::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.ingredients ::-webkit-scrollbar-thumb {
  height: 400px;
  background-color: #8585ad;
}

.ingredientsGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
